<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<string>node.png</string>
	<key>scale</key>
	<string>{0.5, 0.5}</string>
	<key>nodePositions</key>
	<dict>
		<key>1</key>
		<array>
			<string>{100, 100}</string>
			<string>{200, 100}</string>
			<string>{200, 200}</string>
			<string>{100, 200}</string>
		</array>
	</dict>
</dict>
</plist>
