<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orcSkeleton-attack0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,15},{62,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>orcSkeleton-attack1</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{86,86}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{86,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>orcSkeleton-stand0</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{66,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,15},{66,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orcSkeleton.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13cf2e76cbf4cd0afa461a714a69acfe$</string>
            <key>textureFileName</key>
            <string>orcSkeleton.png</string>
        </dict>
    </dict>
</plist>
